:root {
  --table-color: rgb(45, 45, 42);
  --additional-color: rgb(193, 73, 83);
  --secondary-color: rgb(51, 51, 51);
  --partOfBg-color: #767676;
}

* {
  box-sizing: border-box;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.absolute {
  position: absolute;
  width: 40%;
  height: 100vh;
  background: var(--partOfBg-color);
  z-index: -1;
  display: flex;
  align-items: flex-end;
}

.absolute h1 {
  writing-mode: vertical-rl;
  color: white;
}

main {
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
}

.flex-box {
  display: flex;
}

.flex-box div {
  display: flex;
  flex-direction: column;
}

#contact {
  flex-direction: row;
  justify-content: space-around;
}

#contact div:first-child {
  color: white;
}

#aboutMe {
  text-align: center;
  background-image: url(../img/laptop.jpg);
  width: 100%;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 5%;
}

#darkBackground {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

main p {
  font-size: 1.3em;
}

main img {
  margin-right: 20px;
  float: left;
}

/*Table*/
table {
  width: 70%;
  margin: 1% 14%;
}

table, th, td {
  border: 1px solid var(--table-color);
  border-collapse: separate;
}

table th {
  font-family: 'Staatliches', cursive;
  color: var(--table-color);
}

th, td {
  padding: 10px 40px;
}

/*Links*/
nav li {
  display: inline-block;
}

nav a:link, nav a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

a:hover {
  font-style: italic;
  font-weight: bold;
}

a span {
  color: white;
  text-decoration: none;
}

/*Button*/
button {
  margin: 30px 0;
  height: 50px;
  width: 170px;
  font-size: 1.3em;
  border-radius: 10px;
  transition: ease-out 0.7s;
  background: var(--additional-color);
  color: white;
}

button:hover, button:focus {
  background: white;
  color: var(--additional-color);
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: var(--additional-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: ease-out 0.7s;
}

.button:hover,
.button:focus {
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  opacity: 0.8;
  color: var(--additional-color);
  background-color: #fff;
}

/*work.html*/
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.list__item {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.list__item .item {
  width: 300px;
  height: 250px;
  transition: 0.8s;
}

.list__item .item.item1 {
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item .item.item1 .content {
  display: flex;
  flex-direction: column;
}

.list__item:hover .item.item1 {
  transform: translateY(-250px);
  background: var(--additional-color);
}

.list__item .item.item1 .content h2 {
  font-family: serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.list__item .item.item2 {
  position: relative;
  display: flex;
  background: #fff;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.list__item:hover .item.item2 {
  transform: translateY(-250px);
}

.list__item .item.item2 .content p {
  margin: 0;
  padding: 0;
  font-family: serif;
}

#info{
  font-size: 1em;
}

.list__item .item.item2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: var(--secondary-color);
  padding: 5px;
  border: 1px solid #333;
}

.list__item .item.item2 .content a:hover {
  background: var(--additional-color);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 900;
}

@keyframes color-change {
  0% {
    fill: #edc340;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud1-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(3000px, 50px);
  }
}

@keyframes cloud2-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(2000px, 50px);
  }
}

@keyframes cloud3-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(2500px, 50px);
  }
}

@keyframes cloud4-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(1300px, 50px);
  }
}

@keyframes cloud5-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(1000px, 50px);
  }
}

@keyframes wave1-move {
  from {
    transform: translate(-500px, 50px);
  }

  to {
    transform: translate(1000px, 50px);
  }
}

@keyframes wave2-move {
  from {
    transform: translate(-500px, 50px);
  }

  to {
    transform: translate(1000px, 50px);
  }
}

@keyframes wave3-move {
  from {
    transform: translate(-500px, 50px);
  }

  to {
    transform: translate(1000px, 50px);
  }
}

#svg_445 {
  animation: 4s color-change infinite alternate linear;
}

#svg_14, #svg_13 {
  animation: 10s cloud1-move infinite alternate linear;
}

#svg_16, #svg_15 {
  animation: 10s cloud2-move infinite alternate linear;
}

#svg_18, #svg_17 {
  animation: 8s cloud3-move infinite alternate linear;
}

#svg_22, #svg_21 {
  animation: 7s cloud4-move infinite alternate linear;
}

#svg_20, #svg_19 {
  animation: 5s cloud5-move infinite alternate linear;
}

#svg_33 {
  animation: 10s wave1-move infinite alternate linear;
}

#svg_32 {
  animation: 10s wave2-move infinite alternate linear;
}

#svg_31 {
  animation: 10s wave3-move infinite alternate linear;
}

@media all and (max-width: 500px) {
  .flex-box {
    flex-direction: column;
  }

  .absolute {
    width: 100%;
  }

  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  #portrait {
    width: 70%;
  }

  h1 {
    font-size: 22px;
  }

  header {
    justify-content: center;
    flex-direction: column;
  }

  header a {
    text-align: center;
  }

  main #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main #info img {
    width: 60%;
  }

  main svg {
    display: none;
  }

  th, td {
    padding: 2px 5px;
  }

  table {
    margin: 1% 5%;
  }

  #contact div:first-child {
    color: black;
  }

  #contact div:first-child span {
    color: black;
  }

  .absolute h1 {
    display: none;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .flex-box {
    flex-direction: column;
  }

  .absolute {
    width: 100%;
  }

  #portrait {
    width: 70%;
  }

  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  main svg {
    display: none;
  }

  h1 {
    font-size: 22px;
  }

  header {
    justify-content: center;
  }

  header a {
    text-align: center;
  }

  th, td {
    padding: 4px 15px;
  }

  #contact {
    flex-direction: column;
  }

  #contact div:first-child {
    color: black;
  }

  #contact div:first-child span {
    color: black;
  }

  .absolute h1 {
    display: none;
  }
}
