/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.absolute {
  position: absolute;
  width: 40%;
  height: 100vh;
  background: #767676;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.absolute h1 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact div:first-child {
  color: white;
}

#aboutMe {
  text-align: center;
  background-image: url(../img/laptop.jpg);
  width: 100%;
  background-size: cover;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 5%;
}

#darkBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

main p {
  font-size: 1.3em;
}

main img {
  margin-right: 20px;
  float: left;
}

/*Table*/
table {
  width: 70%;
  margin: 1% 14%;
}

table {
  border: 1px solid rgb(45, 45, 42);
  border-collapse: separate;
}

th {
  border: 1px solid rgb(45, 45, 42);
  border-collapse: separate;
}

td {
  border: 1px solid rgb(45, 45, 42);
  border-collapse: separate;
}

table th {
  font-family: 'Staatliches', cursive;
  color: rgb(45, 45, 42);
}

th, td {
  padding: 10px 40px;
}

/*Links*/
nav li {
  display: inline-block;
}

nav a:link, nav a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.3em;
}

nav a:hover {
  text-decoration: underline;
}

a:hover {
  font-style: italic;
  font-weight: bold;
}

a span {
  color: white;
  text-decoration: none;
}

/*Button*/
button {
  margin: 30px 0;
  height: 50px;
  width: 170px;
  font-size: 1.3em;
  border-radius: 10px;
  -webkit-transition: ease-out 0.7s;
  -o-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
  background: rgb(193, 73, 83);
  color: white;
}

button:hover {
  background: white;
  color: rgb(193, 73, 83);
}

button:focus {
  background: white;
  color: rgb(193, 73, 83);
}

.button {
  display: inline-block;
  font-family: inherit;
  background-color: rgb(193, 73, 83);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: ease-out 0.7s;
  -o-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
}

.button:hover {
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  opacity: 0.8;
  color: rgb(193, 73, 83);
  background-color: #fff;
}

.button:focus {
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  opacity: 0.8;
  color: rgb(193, 73, 83);
  background-color: #fff;
}

/*work.html*/
.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.list__item {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.list__item .item {
  width: 300px;
  height: 250px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.list__item .item.item1 {
  background: rgb(51, 51, 51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item .item.item1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__item:hover .item.item1 {
  -webkit-transform: translateY(-250px);
      -ms-transform: translateY(-250px);
          transform: translateY(-250px);
  background: rgb(193, 73, 83);
}

.list__item .item.item1 .content h2 {
  font-family: serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.list__item .item.item2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.list__item:hover .item.item2 {
  -webkit-transform: translateY(-250px);
      -ms-transform: translateY(-250px);
          transform: translateY(-250px);
}

.list__item .item.item2 .content p {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.list__item .item.item2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: rgb(51, 51, 51);
  padding: 5px;
  border: 1px solid #333;
}

.list__item .item.item2 .content a:hover {
  background: rgb(193, 73, 83);
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 900;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc340;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc340;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud1-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(3000px, 50px);
            transform: translate(3000px, 50px);
  }
}

@keyframes cloud1-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(3000px, 50px);
            transform: translate(3000px, 50px);
  }
}

@-webkit-keyframes cloud2-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(2000px, 50px);
            transform: translate(2000px, 50px);
  }
}

@keyframes cloud2-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(2000px, 50px);
            transform: translate(2000px, 50px);
  }
}

@-webkit-keyframes cloud3-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(2500px, 50px);
            transform: translate(2500px, 50px);
  }
}

@keyframes cloud3-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(2500px, 50px);
            transform: translate(2500px, 50px);
  }
}

@-webkit-keyframes cloud4-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(1300px, 50px);
            transform: translate(1300px, 50px);
  }
}

@keyframes cloud4-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(1300px, 50px);
            transform: translate(1300px, 50px);
  }
}

@-webkit-keyframes cloud5-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@keyframes cloud5-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@-webkit-keyframes wave1-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@keyframes wave1-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@-webkit-keyframes wave2-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@keyframes wave2-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@-webkit-keyframes wave3-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

@keyframes wave3-move {
  from {
    -webkit-transform: translate(-500px, 50px);
            transform: translate(-500px, 50px);
  }

  to {
    -webkit-transform: translate(1000px, 50px);
            transform: translate(1000px, 50px);
  }
}

#svg_445 {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

#svg_14, #svg_13 {
  -webkit-animation: 10s cloud1-move infinite alternate linear;
          animation: 10s cloud1-move infinite alternate linear;
}

#svg_16, #svg_15 {
  -webkit-animation: 10s cloud2-move infinite alternate linear;
          animation: 10s cloud2-move infinite alternate linear;
}

#svg_18, #svg_17 {
  -webkit-animation: 8s cloud3-move infinite alternate linear;
          animation: 8s cloud3-move infinite alternate linear;
}

#svg_22, #svg_21 {
  -webkit-animation: 7s cloud4-move infinite alternate linear;
          animation: 7s cloud4-move infinite alternate linear;
}

#svg_20, #svg_19 {
  -webkit-animation: 5s cloud5-move infinite alternate linear;
          animation: 5s cloud5-move infinite alternate linear;
}

#svg_33 {
  -webkit-animation: 10s wave1-move infinite alternate linear;
          animation: 10s wave1-move infinite alternate linear;
}

#svg_32 {
  -webkit-animation: 10s wave2-move infinite alternate linear;
          animation: 10s wave2-move infinite alternate linear;
}

#svg_31 {
  -webkit-animation: 10s wave3-move infinite alternate linear;
          animation: 10s wave3-move infinite alternate linear;
}

@media all and (max-width: 500px) {
  .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .absolute {
    width: 100%;
  }

  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  #portrait {
    width: 70%;
  }

  h1 {
    font-size: 22px;
  }

  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  header a {
    text-align: center;
  }

  main #info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  main #info img {
    width: 60%;
  }

  main svg {
    display: none;
  }

  th, td {
    padding: 2px 5px;
  }

  table {
    margin: 1% 5%;
  }

  #contact div:first-child {
    color: black;
  }

  #contact div:first-child span {
    color: black;
  }

  .absolute h1 {
    display: none;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .absolute {
    width: 100%;
  }

  #portrait {
    width: 70%;
  }

  .project-list {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  main svg {
    display: none;
  }

  h1 {
    font-size: 22px;
  }

  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  header a {
    text-align: center;
  }

  th, td {
    padding: 4px 15px;
  }

  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #contact div:first-child {
    color: black;
  }

  #contact div:first-child span {
    color: black;
  }

  .absolute h1 {
    display: none;
  }
}
